/* ============================
	Feature
============================ */



/*//////// base ////////*/

.featureAlt {
	text-indent:-9999px;
	font-size:0px;
	line-height:0;
}

/*//////// common ////////*/


div#featureWrapper{
	width:100%;
	overflow:hidden;
	box-sizing: border-box;
	text-align:center;
	/*border-left:#ccc solid 1px;
	border-right:#ccc solid 1px;*/
}

div.featureInterviewArea{
	width:70%;
	margin:40px auto;
}

div.featureWideImage{
	background-color:#F4F4F4;
	margin-bottom:10px;	
	text-align:left;
	position:relative;
	background-repeat: no-repeat;
	background-size: cover;
	margin-top:20px;
}

div.featureWideImage.wide{
	background-size: contain;
}

p.wideCaption{
	margin-left:5%;
	text-align: left;
	width:88%;
	font-size: 90%;
	color:#666;
	letter-spacing:1px;
	line-height: 1.7;
	margin-bottom:20px;
}


div.squareImage{
	width:201px;height:201px;
	background-size: cover;
}

img.square_dammy{
	width:100%!important;
	position: absolute;
	top:0;
	left:0;
}

div.featureSquareWrapper{
	width:100%;
	position: relative;
	padding-bottom:40px;
}

p.squareCaption.left{
	font-size: 90%;
	width:70%;
	text-align: left;
	letter-spacing: 1px;
	line-height: 1.7;
	box-sizing: border-box;
	padding:15px;
	color:#666;
}
p.squareCaption.right{
	font-size: 90%;
	width:70%;
	position: relative;
	left:30%;
	text-align: left;
	letter-spacing: 1px;
	line-height: 1.7;
	box-sizing: border-box;
	padding:15px;
	color:#666;
}

div.featureSquareArea{
	display: inline-block;
	padding:5px;
	background-color:#fff;
	position:absolute;
	text-align:left;
}

/* common bottom */

div#featureLinkArea{
	width:100%;
	min-height:100px;
	color:#fff;
	position:relative;
	padding-top:40px;
}

div.featureNextLinkArea{
	width:40%;
	position:absolute;
	left:60%;
	top:40px;
	text-align:left;
	padding-bottom:30px;
}

div.featureBackLinkArea{
	width:40%;
	position:absolute;
	left:0px;
	top:40px;
	text-align:left;
	padding-bottom:30px;
}


div.featureLinkArrowRight{
	position:absolute;
	right:40px;
	top:25px;	
}

div.featureLinkArrowLeft{
	position:absolute;
	left:40px;
	top:25px;	
}

div#featureNextTag{
	
}

div#featureBackTag{
	position:relative;
	left:30%;
	top:0px;
}

a#featureBackLink{
	width:70%;
	margin-left:30%;
	display:block;
	font-weight:bold;
	font-size:120%;
	letter-spacing:1px;
	line-height:1.7;
	text-decoration:none;
}

a#featureNextLink{
	width:100%;
	display:block;
	font-weight:bold;
	font-size:120%;
	letter-spacing:1px;
	line-height:1.7;
	text-decoration:none;
}


div.squareRight{
	right:50px;
	top:-100px;	
}
div.squareLeft{
	left:50px;
	top:-100px;	
}
img.feature_dammy{
	width:100%;
}



/* ---- Media Queries ---- */

@media all and (max-width: 767px) {


div.featureInterviewArea{
	width:90%;
	font-size: 95%;
	margin:40px auto;
}

div.squareRight{
	right:20px;
	top:-40px;	
}
p.squareCaption.left{
	font-size: 85%;
	width:60%;
}
div.squareLeft{
	left:20px;
	top:-40px;	
}
p.squareCaption.right{
	font-size: 85%;
	width:60%;
	position: relative;
	left:40%;
}

div.squareImage{
	max-width:140px;max-height:140px;
	background-size: cover;
}

p.wideCaption{
	margin-left:5%;
	text-align: left;
	width:88%;
	font-size: 85%;
	color:#666;
	letter-spacing:1px;
	line-height: 1.7;
	margin-bottom:20px;
}

}/*767*/
@media all and (max-width: 380px) {
div.featureInterviewArea{
font-size: 90%;
line-height: 1.7;
}
p.wideCaption{
font-size: 80%;
}
div.squareRight{
	right:10px;
	top:-40px;	
}
p.squareCaption.left{
	font-size: 80%;
	width:52%;
}
div.squareLeft{
	left:10px;
	top:-40px;	
}
p.squareCaption.right{
	font-size: 80%;
	width:48%;
	position: relative;
	left:52%;
}
}



/**/
/*//////// feature 1905 START ////////*/
/**/

/* feature 1905 MENU*/

div.menuArea1905{
	width:100%;
	position:relative;
}
div.menuArea1905 a{
	 display:block;	
}

div.menuArea1905 a:hover{
	background-color: #000;	
}
div.nav1905_1{
	width:50%;
	position: relative;
	background-color: #182940;
}
div.nav1905_1 a{
	display:block;
	width:100%;
	background-color: #182940;
}
div.nav1905_2{
	width:50%;
	position:absolute;
	top:0px;
	left:50%;
	background-color: #AC8F7C;
}
div.nav1905_2 a{
	display:block;
  	width:100%;
  	background-color: #AC8F7C;
}
div.nav1905_1 img,div.nav1905_2 img{
	width:100%;
	max-width:342px;
}
div.nav1905_1 span, div.nav1905_2 span{
	display:block;
	position:absolute;
	bottom:-10px;
	left:48%;	
}
span.featureTriangle1905{
	z-index:5000;
}


/* feature 1905 FOOTER MENU*/

div#footerArea1905{
	width:100%;
	position:relative;
}
div#footerArea1905 a{
	 display:block;	
}
div#footerArea1905 a:hover{
	background-color: #000;	
}
div.nav1905_1 span.bottom, div.nav1905_2 span.bottom{
	display:block;
	position:absolute;
	top:-12px;
	left:48%;	
}

/* feature 1905 COVER AREA*/

div.mainCoverArea1905{
  width:100%;
  background:url(../img/feature/2019/1905/headerimage2.jpg) top center no-repeat;
  background-size: cover;
}

div.headerImage1905{
	position:relative;
	width:100%;
	background:url(../img/feature/2019/1905/headerimage.jpg) top center no-repeat;
	background-size: cover;
}

div.shortCover1905{
	height:555px;	
}

div.featureCoverArea1905{
	margin-bottom:30px;	
	position:relative;
}

div#featureCover190501{
	width:100%;
	position: relative;
	top:-1px;
	background-size: cover;
}

/* feature 1905INTERVIEW AREA*/

div.int1905{
	text-align:left;	
}

div.int1905 p.featureAsk{
	font-weight:bold;
	color:#8B7B49;
	font-size:100%;
	letter-spacing:1px;
	line-height:1.8;
	margin:30px 0px 15px 0px;
}

p.featureAns{
	margin:0px 0px 50px 0px;
	color:#333;
	font-size:100%;
	letter-spacing:1px;
	line-height:1.8;	
}

/**/
/*//////// feature 1905 END ////////*/
/**/



/**/
/*//////// feature 1906 START ////////*/
/**/

/* feature 1906 MENU*/

div.menuArea1906{
	width:100%;
	position:relative;
}
div.menuArea1906 a{
	 display:block;	
}

div.menuArea1906 a:hover{
	background-color: #000;	
}
div.nav1906_1{
	width:50%;
	position: relative;
	background-color: #182940;
}
div.nav1906_1 a{
	display:block;
	width:100%;
	background-color: #182940;
}
div.nav1906_2{
	width:50%;
	position:absolute;
	top:0px;
	left:50%;
	background-color: #AC8F7C;
}
div.nav1906_2 a{
	display:block;
  	width:100%;
  	background-color: #AC8F7C;
}
div.nav1906_1 img,div.nav1906_2 img{
	width:100%;
	max-width:342px;
}
div.nav1906_1 span, div.nav1906_2 span{
	display:block;
	position:absolute;
	bottom:-10px;
	left:48%;	
}
span.featureTriangle1906{
	z-index:5000;
}


/* feature 1906 FOOTER MENU*/

div#footerArea1906{
	width:100%;
	position:relative;
	margin-top:80px;
}
div#footerArea1906 a{
	 display:block;	
}
div#footerArea1906 a:hover{
	background-color: #000;	
}
div.nav1906_1 span.bottom, div.nav1906_2 span.bottom{
	display:block;
	position:absolute;
	top:-12px;
	left:48%;	
}

/* feature 1906 COVER AREA*/

div.mainCoverArea1906{
  width:100%;
  background:url(../img/feature/2019/1906/headerimage2.jpg) top center no-repeat;
  background-size: cover;
}

div.headerImage1906{
	position:relative;
	width:100%;
	background:url(../img/feature/2019/1906/headerimage.jpg) top center no-repeat;
	background-size: cover;
}

div.shortCover1906{
	height:555px;	
}

div.featureCoverArea1906{
	margin-bottom:30px;	
	position:relative;
}

div#featureCover190601{
	width:100%;
	position: relative;
	top:-1px;
	background-size: cover;
}

/* feature 1906INTERVIEW AREA*/

div.int1906{
	text-align:left;	
}

div.int1906 p.featureAsk{
	font-weight:bold;
	color:#8B7B49;
	font-size:100%;
	letter-spacing:1px;
	line-height:1.8;
	margin:30px 0px 15px 0px;
}

p.featureAns{
	margin:0px 0px 50px 0px;
	color:#333;
	font-size:100%;
	letter-spacing:1px;
	line-height:1.8;	
}

/**/
/*//////// feature 1906 END ////////*/
/**/



/**/
/*//////// feature 1906 START ////////*/
/**/

/* feature 1906 MENU*/

div.menuArea1906{
	width:100%;
	position:relative;
}
div.menuArea1906 a{
	 display:block;	
}

div.menuArea1906 a:hover{
	background-color: #000;	
}
div.nav1906_1{
	width:50%;
	position: relative;
	background-color: #182940;
}
div.nav1906_1 a{
	display:block;
	width:100%;
	background-color: #182940;
}
div.nav1906_2{
	width:50%;
	position:absolute;
	top:0px;
	left:50%;
	background-color: #AC8F7C;
}
div.nav1906_2 a{
	display:block;
  	width:100%;
  	background-color: #AC8F7C;
}
div.nav1906_1 img,div.nav1906_2 img{
	width:100%;
	max-width:342px;
}
div.nav1906_1 span, div.nav1906_2 span{
	display:block;
	position:absolute;
	bottom:-10px;
	left:48%;	
}
span.featureTriangle1906{
	z-index:5000;
}


/* feature 1906 FOOTER MENU*/

div#footerArea1906{
	width:100%;
	position:relative;
	margin-top:80px;
}
div#footerArea1906 a{
	 display:block;	
}
div#footerArea1906 a:hover{
	background-color: #000;	
}
div.nav1906_1 span.bottom, div.nav1906_2 span.bottom{
	display:block;
	position:absolute;
	top:-12px;
	left:48%;	
}

/* feature 1906 COVER AREA*/

div.mainCoverArea1906{
  width:100%;
  background:url(../img/feature/2019/1906/headerimage2.jpg) top center no-repeat;
  background-size: cover;
}

div.headerImage1906{
	position:relative;
	width:100%;
	background:url(../img/feature/2019/1906/headerimage.jpg) top center no-repeat;
	background-size: cover;
}

div.shortCover1906{
	height:555px;	
}

div.featureCoverArea1906{
	margin-bottom:30px;	
	position:relative;
}

div#featureCover190601{
	width:100%;
	position: relative;
	top:-1px;
	background-size: cover;
}

/* feature 1906INTERVIEW AREA*/

div.int1906{
	text-align:left;	
}

div.int1906 p.featureAsk{
	font-weight:bold;
	color:#8B7B49;
	font-size:100%;
	letter-spacing:1px;
	line-height:1.8;
	margin:30px 0px 15px 0px;
}

p.featureAns{
	margin:0px 0px 50px 0px;
	color:#333;
	font-size:100%;
	letter-spacing:1px;
	line-height:1.8;	
}

/**/
/*//////// feature 1906 END ////////*/
/**/



/**/
/*//////// feature 1906 START ////////*/
/**/

/* feature 1906 MENU*/

div.menuArea1906{
	width:100%;
	position:relative;
}
div.menuArea1906 a{
	 display:block;	
}

div.menuArea1906 a:hover{
	background-color: #000;	
}
div.nav1906_1{
	width:50%;
	position: relative;
	background-color: #182940;
}
div.nav1906_1 a{
	display:block;
	width:100%;
	background-color: #182940;
}
div.nav1906_2{
	width:50%;
	position:absolute;
	top:0px;
	left:50%;
	background-color: #AC8F7C;
}
div.nav1906_2 a{
	display:block;
  	width:100%;
  	background-color: #AC8F7C;
}
div.nav1906_1 img,div.nav1906_2 img{
	width:100%;
	max-width:342px;
}
div.nav1906_1 span, div.nav1906_2 span{
	display:block;
	position:absolute;
	bottom:-10px;
	left:48%;	
}
span.featureTriangle1906{
	z-index:5000;
}


/* feature 1906 FOOTER MENU*/

div#footerArea1906{
	width:100%;
	position:relative;
	margin-top:80px;
}
div#footerArea1906 a{
	 display:block;	
}
div#footerArea1906 a:hover{
	background-color: #000;	
}
div.nav1906_1 span.bottom, div.nav1906_2 span.bottom{
	display:block;
	position:absolute;
	top:-12px;
	left:48%;	
}

/* feature 1906 COVER AREA*/

div.mainCoverArea1906{
  width:100%;
  background:url(../img/feature/2019/1906/headerimage2.jpg) top center no-repeat;
  background-size: cover;
}

div.headerImage1906{
	position:relative;
	width:100%;
	background:url(../img/feature/2019/1906/headerimage.jpg) top center no-repeat;
	background-size: cover;
}

div.shortCover1906{
	height:555px;	
}

div.featureCoverArea1906{
	margin-bottom:30px;	
	position:relative;
}

div#featureCover190601{
	width:100%;
	position: relative;
	top:-1px;
	background-size: cover;
}

/* feature 1906INTERVIEW AREA*/

div.int1906{
	text-align:left;	
}

div.int1906 p.featureAsk{
	font-weight:bold;
	color:#8B7B49;
	font-size:100%;
	letter-spacing:1px;
	line-height:1.8;
	margin:30px 0px 15px 0px;
}

p.featureAns{
	margin:0px 0px 50px 0px;
	color:#333;
	font-size:100%;
	letter-spacing:1px;
	line-height:1.8;	
}

/**/
/*//////// feature 1906 END ////////*/
/**/



/**/
/*//////// feature 1907 START ////////*/
/**/

/* feature 1907 MENU*/

div.menuArea1907{
	width:100%;
	position:relative;
}
div.menuArea1907 a{
	 display:block;	
}

div.menuArea1907 a:hover{
	background-color: #ADD044;	
}
div.nav1907_1{
	width:50%;
	position: relative;
	background-color: #FFF100;
}
div.nav1907_1 a{
	display:block;
	width:100%;
	background-color: #FFF100;
}
div.nav1907_2{
	width:50%;
	position:absolute;
	top:0px;
	left:50%;
	background-color: #65554F;
}
div.nav1907_2 a{
	display:block;
  	width:100%;
  	background-color: #65554F;
}
div.nav1907_1 img,div.nav1907_2 img{
	width:100%;
	max-width:342px;
}
div.nav1907_1 span, div.nav1907_2 span{
	display:block;
	position:absolute;
	bottom:-10px;
	left:48%;	
}
span.featureTriangle1907{
	z-index:5000;
}


/* feature 1907 FOOTER MENU*/

div#footerArea1907{
	width:100%;
	position:relative;
	margin-top:80px;
}
div#footerArea1907 a{
	 display:block;	
}
div#footerArea1907 a:hover{
	background-color: #ADD044;	
}
div.nav1907_1 span.bottom, div.nav1907_2 span.bottom{
	display:block;
	position:absolute;
	top:-12px;
	left:48%;	
}

/* feature 1907 COVER AREA*/

div.mainCoverArea1907{
  width:100%;
  background:url(../img/feature/2019/1907/headerimage2.jpg) top center no-repeat;
  background-size: cover;
}

div.headerImage1907{
	position:relative;
	width:100%;
	background:url(../img/feature/2019/1907/headerimage.jpg) top center no-repeat;
	background-size: cover;
}

div.shortCover1907{
	height:555px;	
}

div.featureCoverArea1907{
	margin-bottom:30px;	
	position:relative;
}

div#featureCover190701{
	width:100%;
	position: relative;
	top:-1px;
	background-size: cover;
}

/* feature 1907INTERVIEW AREA*/

div.int1907{
	text-align:left;	
}

div.int1907 p.featureAsk{
	font-weight:bold;
	color:#65554F;
	font-size:100%;
	letter-spacing:1px;
	line-height:1.8;
	margin:30px 0px 15px 0px;
}

p.featureAns{
	margin:0px 0px 50px 0px;
	color:#333;
	font-size:100%;
	letter-spacing:1px;
	line-height:1.8;	
}

/**/
/*//////// feature 1907 END ////////*/
/**/


/**/
/*//////// feature 1908 START ////////*/
/**/

/* feature 1908 MENU*/

div.menuArea1908{
	width:100%;
	position:relative;
}
div.menuArea1908 a{
	 display:block;	
}

div.menuArea1908 a:hover{
	background-color: #ADD044;	
}
div.nav1908_1{
	width:50%;
	position: relative;
	background-color: #524451;
}
div.nav1908_1 a{
	display:block;
	width:100%;
	background-color: #524451;
}
div.nav1908_2{
	width:50%;
	position:absolute;
	top:0px;
	left:50%;
	background-color: #009F9D;
}
div.nav1908_2 a{
	display:block;
  	width:100%;
  	background-color: #009F9D;
}
div.nav1908_1 img,div.nav1908_2 img{
	width:100%;
	max-width:342px;
}
div.nav1908_1 span, div.nav1908_2 span{
	display:block;
	position:absolute;
	bottom:-10px;
	left:48%;	
}
span.featureTriangle1908{
	z-index:5000;
}


/* feature 1908 FOOTER MENU*/

div#footerArea1908{
	width:100%;
	position:relative;
	margin-top:80px;
}
div#footerArea1908 a{
	 display:block;	
}
div#footerArea1908 a:hover{
	background-color: #ADD044;	
}
div.nav1908_1 span.bottom, div.nav1908_2 span.bottom{
	display:block;
	position:absolute;
	top:-12px;
	left:48%;	
}

/* feature 1908 COVER AREA*/

div.mainCoverArea1908{
  width:100%;
  background:url(../img/feature/2019/1908/headerimage.jpg) top center no-repeat;
  background-size: cover;
}

div.headerImage1908{
	position:relative;
	width:100%;
	background:url(../img/feature/2019/1908/headerimage2.jpg) top center no-repeat;
	background-size: cover;
}

div.shortCover1908{
	height:555px;	
}

div.featureCoverArea1908{
	margin-bottom:30px;	
	position:relative;
}

div#featureCover190801{
	width:100%;
	position: relative;
	top:-1px;
	background-size: cover;
}

/* feature 1908INTERVIEW AREA*/

div.int1908{
	text-align:left;	
}

div.int1908 p.featureAsk{
	font-weight:bold;
	color:#009F9D;
	font-size:100%;
	letter-spacing:1px;
	line-height:1.8;
	margin:30px 0px 15px 0px;
}

p.featureAns{
	margin:0px 0px 50px 0px;
	color:#333;
	font-size:100%;
	letter-spacing:1px;
	line-height:1.8;	
}

/**/
/*//////// feature 1908 END ////////*/
/**/



/**/
/*//////// feature 1909 START ////////*/
/**/

/* feature 1909 MENU*/

div.menuArea1909{
	width:100%;
	position:relative;
}
div.menuArea1909 a{
	 display:block;	
}

div.menuArea1909 a:hover{
	background-color: #ADD044;	
}
div.nav1909_1{
	width:50%;
	position: relative;
	background-color: #524451;
}
div.nav1909_1 a{
	display:block;
	width:100%;
	background-color: #524451;
}
div.nav1909_2{
	width:50%;
	position:absolute;
	top:0px;
	left:50%;
	background-color: #009F9D;
}
div.nav1909_2 a{
	display:block;
  	width:100%;
  	background-color: #009F9D;
}
div.nav1909_1 img,div.nav1909_2 img{
	width:100%;
	max-width:342px;
}
div.nav1909_1 span, div.nav1909_2 span{
	display:block;
	position:absolute;
	bottom:-10px;
	left:48%;	
}
span.featureTriangle1909{
	z-index:5000;
}


/* feature 1909 FOOTER MENU*/

div#footerArea1909{
	width:100%;
	position:relative;
	margin-top:80px;
}
div#footerArea1909 a{
	 display:block;	
}
div#footerArea1909 a:hover{
	background-color: #ADD044;	
}
div.nav1909_1 span.bottom, div.nav1909_2 span.bottom{
	display:block;
	position:absolute;
	top:-12px;
	left:48%;	
}

/* feature 1909 COVER AREA*/

div.mainCoverArea1909{
  width:100%;
  background:url(../img/feature/2019/1909/headerimage.jpg) top center no-repeat;
  background-size: cover;
}

div.headerImage1909{
	position:relative;
	width:100%;
	background:url(../img/feature/2019/1909/headerimage2.jpg) top center no-repeat;
	background-size: cover;
}

div.shortCover1909{
	height:555px;	
}

div.featureCoverArea1909{
	margin-bottom:30px;	
	position:relative;
}

div#featureCover190901{
	width:100%;
	position: relative;
	top:-1px;
	background-size: cover;
}

/* feature 1909INTERVIEW AREA*/

div.int1909{
	text-align:left;	
}

div.int1909 p.featureAsk{
	font-weight:bold;
	color:#0097A7;
	font-size:100%;
	letter-spacing:1px;
	line-height:1.8;
	margin:30px 0px 15px 0px;
}

p.featureAns{
	margin:0px 0px 50px 0px;
	color:#333;
	font-size:100%;
	letter-spacing:1px;
	line-height:1.8;	
}

/**/
/*//////// feature 1909 END ////////*/
/**/



/**/
/*//////// feature 1910 START ////////*/
/**/

/* feature 1910 MENU*/

div.menuArea1910{
	width:100%;
	position:relative;
}
div.menuArea1910 a{
	 display:block;	
}

div.menuArea1910 a:hover{
	background-color: #ADD044;	
}
div.nav1910_1{
	width:50%;
	position: relative;
	background-color: #524451;
}
div.nav1910_1 a{
	display:block;
	width:100%;
	background-color: #524451;
}
div.nav1910_2{
	width:50%;
	position:absolute;
	top:0px;
	left:50%;
	background-color: #A5AF78;
}
div.nav1910_2 a{
	display:block;
  	width:100%;
  	background-color: #A5AF78;
}
div.nav1910_1 img,div.nav1910_2 img{
	width:100%;
	max-width:342px;
}
div.nav1910_1 span, div.nav1910_2 span{
	display:block;
	position:absolute;
	bottom:-10px;
	left:48%;	
}
span.featureTriangle1910{
	z-index:5000;
}


/* feature 1910 FOOTER MENU*/

div#footerArea1910{
	width:100%;
	position:relative;
	margin-top:80px;
}
div#footerArea1910 a{
	 display:block;	
}
div#footerArea1910 a:hover{
	background-color: #ADD044;	
}
div.nav1910_1 span.bottom, div.nav1910_2 span.bottom{
	display:block;
	position:absolute;
	top:-12px;
	left:48%;	
}

/* feature 1910 COVER AREA*/

div.mainCoverArea1910{
  width:100%;
  background:url(../img/feature/2019/1910/headerimage.jpg) top center no-repeat;
  background-size: cover;
}

div.headerImage1910{
	position:relative;
	width:100%;
	background:url(../img/feature/2019/1910/headerimage2.jpg) top center no-repeat;
	background-size: cover;
}

div.shortCover1910{
	height:555px;	
}

div.featureCoverArea1910{
	margin-bottom:30px;	
	position:relative;
}

div#featureCover191001{
	width:100%;
	position: relative;
	top:-1px;
	background-size: cover;
}

/* feature 1910INTERVIEW AREA*/

div.int1910{
	text-align:left;	
}

div.int1910 p.featureAsk{
	font-weight:bold;
	color:#848C5B;
	font-size:100%;
	letter-spacing:1px;
	line-height:1.8;
	margin:30px 0px 15px 0px;
}

p.featureAns{
	margin:0px 0px 50px 0px;
	color:#333;
	font-size:100%;
	letter-spacing:1px;
	line-height:1.8;	
}

/**/
/*//////// feature 1910 END ////////*/
/**/


/**/
/*//////// feature 1911 START ////////*/
/**/

/* feature 1911 MENU*/

div.menuArea1911{
	width:100%;
	position:relative;
}
div.menuArea1911 a{
	 display:block;	
}

div.menuArea1911 a:hover{
	background-color: #ADD044;	
}
div.nav1911_1{
	width:50%;
	position: relative;
	background-color: #18AF9B;
}
div.nav1911_1 a{
	display:block;
	width:100%;
	background-color: #18AF9B;
}
div.nav1911_2{
	width:50%;
	position:absolute;
	top:0px;
	left:50%;
	background-color: #FFF100;
}
div.nav1911_2 a{
	display:block;
  	width:100%;
  	background-color: #FFF100;
}
div.nav1911_1 img,div.nav1911_2 img{
	width:100%;
	max-width:342px;
}
div.nav1911_1 span, div.nav1911_2 span{
	display:block;
	position:absolute;
	bottom:-10px;
	left:48%;	
}
span.featureTriangle1911{
	z-index:5000;
}


/* feature 1911 FOOTER MENU*/

div#footerArea1911{
	width:100%;
	position:relative;
	margin-top:80px;
}
div#footerArea1911 a{
	 display:block;	
}
div#footerArea1911 a:hover{
	background-color: #ADD044;	
}
div.nav1911_1 span.bottom, div.nav1911_2 span.bottom{
	display:block;
	position:absolute;
	top:-12px;
	left:48%;	
}

/* feature 1911 COVER AREA*/

div.mainCoverArea1911{
  width:100%;
  background:url(../img/feature/2019/1911/headerimage.jpg) top center no-repeat;
  background-size: cover;
}

div.headerImage1911{
	position:relative;
	width:100%;
	background:url(../img/feature/2019/1911/headerimage2.jpg) top center no-repeat;
	background-size: cover;
}

div.shortCover1911{
	height:555px;	
}

div.featureCoverArea1911{
	margin-bottom:30px;	
	position:relative;
}

div#featureCover191101{
	width:100%;
	position: relative;
	top:-1px;
	background-size: cover;
}

/* feature 1911INTERVIEW AREA*/

div.int1911{
	text-align:left;	
}

div.int1911 p.featureAsk{
	font-weight:bold;
	color:#18AF9B;
	font-size:100%;
	letter-spacing:1px;
	line-height:1.8;
	margin:30px 0px 15px 0px;
}

p.featureAns{
	margin:0px 0px 50px 0px;
	color:#333;
	font-size:100%;
	letter-spacing:1px;
	line-height:1.8;	
}

/**/
/*//////// feature 1911 END ////////*/
/**/
/*eof*/


/**/
/*//////// feature 1912 START ////////*/
/**/

div#featureWrapper.feature1912{
	width:100%;
	overflow:hidden;
	box-sizing: border-box;
	text-align:center;
	background-color: #FAFAF6;
	/*border-left:#ccc solid 1px;
	border-right:#ccc solid 1px;*/
}

img.title1912{
	width: 90%;
	max-width: 780px;
	margin-bottom:20px;
}

/* feature 1912 MENU*/

div.menuArea1912{
	width:100%;
	position:relative;
}
div.menuArea1912 a{
	 display:block;	
}

div.menuArea1912 a:hover{
	background-color: #ADD044;	
}
div.nav1912_1{
	width:50%;
	position: relative;
	background-color: #FFF000;
}
div.nav1912_1 a{
	display:block;
	width:100%;
	background-color: #FFF000;
}
div.nav1912_2{
	width:50%;
	position:absolute;
	top:0px;
	left:50%;
	background-color: #2FA369;
}
div.nav1912_2 a{
	display:block;
  	width:100%;
  	background-color: #2FA369;
}
div.nav1912_1 img,div.nav1912_2 img{
	width:100%;
	max-width:342px;
}
div.nav1912_1 span, div.nav1912_2 span{
	display:block;
	position:absolute;
	bottom:-10px;
	left:48%;	
}
span.featureTriangle1912{
	z-index:5000;
}


/* feature 1912 FOOTER MENU*/

div#footerArea1912{
	width:100%;
	position:relative;
	margin-top:80px;
}
div#footerArea1912 a{
	 display:block;	
}
div#footerArea1912 a:hover{
	background-color: #ADD044;	
}
div.nav1912_1 span.bottom, div.nav1912_2 span.bottom{
	display:block;
	position:absolute;
	top:-12px;
	left:48%;	
}

/* feature 1912 COVER AREA*/

div.mainCoverArea1912{
  width:100%;
  background:url(../img/feature/2019/1912/headerimage.jpg) top center no-repeat;
  background-size: cover;
}

div.headerImage1912{
	position:relative;
	width:100%;
	background:url(../img/feature/2019/1912/headerimage2.jpg) top center no-repeat;
	background-size: cover;
}

div.shortCover1912{
	height:555px;	
}

div.featureCoverArea1912{
	margin-bottom:30px;	
	position:relative;
}

div#featureCover191201{
	width:100%;
	position: relative;
	top:-1px;
	background-size: cover;
}

/* feature 1912INTERVIEW AREA*/

div.int1912{
	text-align:left;	
}

div.int1912 p.featureAsk{
	font-weight:bold;
	color:#2FA369;
	font-size:100%;
	letter-spacing:1px;
	line-height:1.8;
	margin:30px 0px 15px 0px;
}

p.featureAns{
	margin:0px 0px 50px 0px;
	color:#333;
	font-size:100%;
	letter-spacing:1px;
	line-height:1.8;	
}

/**/
/*//////// feature 1912 END ////////*/
/**/
/*eof*/
